aiofiles
aiohttp
aioshutil
bs4
capsolver
curl_cffi
httpx
gunicorn
flask
lxml
motor
psutil
pymongo
python-dotenv
pycryptodome
git+https://github.com/vpcreatz/pyrofork-adv
requests
telegraph
tgcrypto
urllib3==1.26
uvloop
zenrows
