aiofiles
aiohttp
aioshutil
bs4
capsolver
curl_cffi
httpx
gunicorn
flask
lxml
motor==3.2 
pymongo==3.12
psutil
python-dotenv
pycryptodome
git+https://github.com/vpcreatz/pyrofork-adv
requests
telegraph
tgcrypto
urllib3==1.26
uvloop
zenrows
